html {
  display: grid;

  justify-content: center;
  align-items: center;
  text-align: center;
}
/* 
.item-container > img {
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: 25%;
} */

.item-container {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.container:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 1080px) {
  .item-container {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .item-container {
    width: 100%;
  }
}

.form-container {
  margin: 2rem auto;
}
.app_submit {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.app_input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.app_searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 4px 5px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}
